.App {
  text-align: center;
}
img {
  max-width: 100%;
  object-fit: contain;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

.bag-container {
  width: 50px;
  object-fit: contain;
}

.book-count {
  width: 10px;
  height: 10px;
  background: red;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px
}
